/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    background-color: #083b4c;
    
}
h1 {
    color:white;
    font-size: 30px;
    text-align: center;
    margin:20px 0;
}



.container{
    width: 80%;
    margin: auto;
}

.box-container{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin: 10px;
    color:white;
    font-size: 14px;
    background-color: #1389b2;
}
   
   


.fizz {
    background-color: #0cd6a2;
}

.buzz{
    background-color:#ffd166;
}

.fizz-buzz{
    background-color: #f0466f;
}
